/* ======================================================================================

The chemistry front-end styling. 

====================================================================================== */

.chemistry-slider-window
{
	padding-top: 1px;
	padding-bottom: 1px;
	position: relative;
}

.chemistry-ctrl-wrap > *
{;
}

.chemistry-ctrl-wrap
{
	position: absolute;
	top: 0px;
	left: 50%;
	z-index: 20;
	z-index: 100;
	padding: 1px;
}

.chemistry-ctrl-wrap.chemistry-pos-bottom
{
	top: auto;
	bottom: 0;
}

.chemistry-ctrl-wrap.chemistry-pos-top
{
	top: 0;
	bottom: auto;
}

.chemistry-ctrl-wrap.chemistry-pos-center
{
	top: 50%;
}

.chemistry-ctrl-wrap.chemistry-pos-top
{
	top: -40px;
}

.chemistry-ctrl-wrap.chemistry-pos-bottom
{
	bottom: -40px;
}

.chemistry-ctrl-wrap .chemistry-ctrl
{
	background-image: url(../images/slider-ctrl.png);
	background-repeat: no-repeat;
	opacity: 0.5;
}

.chemistry-ctrl-wrap .chemistry-ctrl:hover
{
	opacity: 1;
}

.chemistry-ctrl-car
{
	position: relative;
	width: 68px;
	height: 32px;
	margin: 0 auto 0px;
	padding: 0px 0px;
}

.chemistry-ctrl-car > div
{
	width: 33px;
	height: 32px;
	text-align: center;
	cursor: pointer;
	line-height: 32px;
	font-size: 16pt;
	margin: 0;
	float: left;
}

.chemistry-ctrl-car .chemistry-prev
{
	background-position: 0 0;
	margin-right: 0px;
}

.chemistry-ctrl-car .chemistry-next
{
	background-position: -40px 0;
}

.chemistry-scroll-axis-y .chemistry-ctrl-car .chemistry-prev
{
	-webkit-transform: rotate(90deg);
}

.chemistry-scroll-axis-y .chemistry-ctrl-car .chemistry-next
{
	-webkit-transform: rotate(90deg);
}

.chemistry-ctrl-pag
{
	position: relative;
	margin: 1px auto 0px;
	padding: 0;
	height: 16px;
	text-align: center;
}

.chemistry-ctrl-pag:after
{
	display: block;
	visibility: hidden;
	content: ".";
	height: 0;
	line-height: 0;
	font-size: 0;
	clear: both;
}

.chemistry-ctrl-pag > div
{
	float: left;
	padding: 0px;
	overflow: hidden;
	width: 16px;
	height: 16px;
	text-align: center;
	line-height: 16px;
	font-size: 7pt;
	cursor: pointer;
	margin: 0 1px 0 0px;
	text-align: left;
	text-indent: -9999px;
	vertical-align: top;
	background-position: 0px -40px;
}

.chemistry-ctrl-pag > div.chemistry-current
{
	background-position: -24px -40px;
	opacity: 1;
}

.chemistry-image-stretch-mode-x img
{
	width: 100% !important;
	height: auto !important;
	margin: 0 auto !important;
	display: block !important;
	max-width: 100% !important;
	max-height: none !important;
}

.chemistry-image-stretch-mode-y img
{
	height: 100% !important;
	width: auto !important;
	margin: 0 auto !important;
	display: block !important;
	max-height: 100% !important;
	max-width: none !important;
}

.chemistry-image-stretch-mode-fit img
{
	width: auto !important;
	height: auto !important;
	margin: 0 auto !important;
	display: block !important;
	max-width: 100% !important;
	max-height: 100% !important;
}

.chemistry-image-stretch-mode-fill img
{
	max-width: none !important;
	max-height: none !important;
}

.chemistry-grid-height-auto.chemistry-image-stretch-mode-y img,
.chemistry-grid-height-auto.chemistry-image-stretch-mode-fit img,
.chemistry-grid-height-auto.chemistry-image-stretch-mode-fill img
{
	max-height: none !important;
	height: auto !important;
	width: 100% !important;
}

.chemistry-load-overlay
{
	background: #ffffff url(../images/ajax-loader.gif) 50% 50% no-repeat;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 99;
	min-height: 20px;
}

.chemistry-hide-grid-cell-overflow
{
	overflow: hidden;
	max-height: 100%;
}

.chemistry-ctrl
{
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	-ms-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: .2s;
	-moz-transition-duration: .2s;
	-o-transition-duration: .2s;
	-ms-transition-duration: .2s;
	transition-duration: .2s;
	-webkit-transition-timing-function: ease;
	-moz-transition-timing-function: ease;
	-o-transition-timing-function: ease;
	-ms-transition-timing-function: ease;
	transition-timing-function: ease;
}

.chemistry-img-title
{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px 15px;
	text-align: center;
	z-index: 20;
	background: #ffffff;
	color: #000000;
}

.chemistry-potion
{
	margin: 25px 0 25px;
}

.chemistry-blog-feed-1
{
	margin: 30px 0 20px;
}

.chemistry-blog-feed-1 p
{
	text-align: justify;
}

.chemistry-blog-feed-1 > .chemistry-blog-feed-1-item
{
	margin: 30px 0 20px;
	padding: 0 0 0;
}

.chemistry-blog-feed-1-item
{
	position: relative;
}

.chemistry-blog-feed-1-item > div
{
	padding: 0px 0 0px;
	margin: 0px 0 10px;
}

.chemistry-blog-feed-1-item > .chemistry-header > h2
{
	margin: 0px 0 0px;
	font-size: 1em;
}

.chemistry-blog-feed-1-item > .chemistry-header > h2 a
{;
}

.chemistry-blog-feed-1-item .chemistry-post-meta
{
	margin-bottom: 20px !important;
}

.chemistry-blog-feed-1-item .chemistry-properties
{
	margin: -1px 0 20px;
}

.chemistry-blog-feed-1-item .chemistry-properties > *
{
	padding: 6px 30px 6px 28px;
	margin: 0;
	line-height: 1.5em;
}

.chemistry-blog-feed-1 > .chemistry-blog-feed-1-item
{
	border-bottom: 1px solid #c1c1c1;
}

.chemistry-blog-feed-1-item .chemistry-properties
{
	border-bottom: 1px solid #c1c1c1;
}

.chemistry-blog-feed-1-item .chemistry-properties > *
{
	border-top: 1px solid #c1c1c1;
	background-image: url(../images/clock-16px.png);
	background-position: 5px 8px;
	background-repeat: no-repeat;
}

.chemistry-blog-feed-1-item > div a
{
	color: #000000;
}

.chemistry-blog-feed-1-item > div a:hover,
.chemistry-blog-feed-1-item > div a:focus
{
	color: #1b97dc;
}

.chemistry-blog-feed-1-item .chemistry-properties .chemistry-categories
{
	background-image: url(../images/images/category-16px.png);
}

.chemistry-blog-feed-1-item .chemistry-properties .chemistry-tags
{
	background-image: url(../images/images/tags-16px-1.png);
}

.chemistry-blog-feed-1-item .chemistry-properties .chemistry-share
{
	background-image: url(../images/images/paperclip-16px.png);
}

.chemistry-blog-feed-2
{
	margin: 30px 0 20px;
	position: relative;
}

.chemistry-blog-feed-2-item
{
	position: relative;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.chemistry-blog-feed-2-item > .chemistry-header h2
{
	font-size: 1em;
	font-weight: bold;
	line-height: 1.4em;
	margin: 0;
	position: relative;
	text-align: center;
}

.chemistry-blog-feed-2-item > .chemistry-header h2 a
{
	display: block;
	padding: 10px;
	margin-top: 0;
}

.chemistry-blog-feed-2-item .chemistry-intro p
{
	margin: 0 0 20px;
	text-align: justify;
}

.chemistry-blog-feed-2-item > .chemistry-properties
{
	position: absolute;
	top: 15px;
	right: -12px;
	z-index: 99;
}

.chemistry-blog-feed-2-item > .chemistry-properties .chemistry-meta
{
	float: right;
	text-align: right;
	padding: 6px 35px 6px 12px;
	clear: right;
	margin: -1px 0 0 20px;
	font-size: 0.9em;
}

.chemistry-blog-feed-2-item > .chemistry-properties p span
{
	text-align: left;
	text-indent: -9999px;
}

.chemistry-blog-feed-2-item > .chemistry-header h2
{
	color: #ffffff;
}

.chemistry-blog-feed-2-item > .chemistry-header h2 a
{
	color: #000000;
}

.chemistry-blog-feed-2-item > .chemistry-header h2 a:hover,
.chemistry-blog-feed-2-item > .chemistry-header h2 a:focus
{;
}

.chemistry-blog-feed-2 .chemistry-author,
.chemistry-blog-feed-2 .chemistry-pubdate,
.chemistry-blog-feed-2 .chemistry-meta
{
	background-color: #ffffff !important;
	color: #464646;
	border: 1px solid #ebebeb;
	border-bottom-color: #c1c1c1;
	border-right-color: #c1c1c1;
}

.chemistry-blog-feed-2-item > div a
{
	color: #464646;
}

.chemistry-blog-feed-2-item > div a:hover,
.chemistry-blog-feed-2-item > div a:focus
{
	color: #000000;
}

.chemistry-blog-feed-2-item > div .chemistry-meta
{
	background: url(../images/pen-16px.png) 100% 7px no-repeat;
}

.chemistry-blog-feed-2-item > div .chemistry-pubdate
{
	background: url(../images/clock-16px.png) 100% 7px no-repeat;
}

.chemistry-blog-feed-2-item > div .chemistry-comment
{
	background: url(../images/paperclip-16px.png) 100% 7px no-repeat;
}

.chemistry-form
{
	margin: 30px 0 20px;
	border: none;
	padding: 0;
}

.chemistry-form fieldset
{
	margin: 0;
	padding: 0;
	border: none;
}

.chemistry-form .chemistry-title
{
	font-weight: normal;
	margin: 10px 0;
	padding: 0 5px;
}

.chemistry-form .chemistry-subtitle
{
	font-weight: normal;
	margin: 10px 0;
	padding: 0 5px;
}

.chemistry-form.chemistry-constrain-1 input,
.chemistry-form.chemistry-constrain-1 select,
.chemistry-form.chemistry-constrain-1 textarea
{
	max-width: 300px;
}

.chemistry-form input,
.chemistry-form select,
.chemistry-form textarea
{
	font: 10pt/150% Arial, sans-serif;
	display: block;
	margin: 5px 0 0;
	padding: 7px 10px;
	width: 100%;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 1em;
	box-shadow: none;
	text-shadow: none;
}

.chemistry-form input[type="radio"],
.chemistry-form input[type="checkbox"]
{
	width: auto;
	display: inline-block;
	margin: 0;
}

.chemistry-form input[type="button"],
.chemistry-form input[type="reset"],
.chemistry-form input[type="submit"]
{
	width: auto;
	display: inline-block;
}

.chemistry-form input[type="checkbox"],
.chemistry-form input[type="radio"]
{
	margin-right: 5px;
}

.chemistry-form label
{
	font-size: 10pt;
	vertical-align: middle;
	margin: 20px 25px 0 0;
	display: block;
	width: 100%;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	box-sizing: border-box;
}

.chemistry-form .chemistry-col > label
{
	margin-top: 0;
}

.chemistry-col > .chemistry-form label:first-child
{
	margin-top: 0;
}

.chemistry-form label.chemistry-inline
{
	width: auto;
}

.chemistry-form label.chemistry-label-alt-1
{
	padding-top: 28px;
}

.chemistry-form label.chemistry-label-alt-2
{
	padding: 10px;
	cursor: pointer;
}

.chemistry-form label.chemistry-label-alt-2
{;
}

.chemistry-form .chemistry-inline-labels
{
	margin-top: -13px !important;
}

.chemistry-form label + .chemistry-inline-labels
{
	margin-top: 0px !important;
}

.chemistry-form .chemistry-inline-labels > *
{
	display: inline-block;
	width: auto;
	margin-top: 13px;
	margin-right: 15px;
}

.chemistry-form .chemistry-inline-labels label
{
	margin-top: 13px;
	width: auto;
	display: inline-block;
}

.chemistry-form .chemistry-inline-labels label > *
{
	display: inline-block;
	width: auto;
}

.chemistry-form .chemistry-inline-labels label > span
{
	margin-right: 10px;
}

.chemistry-form small
{
	font-size: 0.9em;
	font-style: italic;
}

.chemistry-form label + small
{
	display: block;
	margin: 5px 0 0;
	padding: 0;
}

.chemistry-form label small
{
	display: block;
	margin: 5px 0 0;
	padding: 0;
}

.chemistry-form abbr
{
	font-size: 1.6em;
	font-family: 'Droid Sans', Arial, sans-serif;
	font-weight: bold;
	line-height: .1em;
}

.chemistry-form abbr
{;
}

.chemistry-form .chemistry-buttonset-1
{
	margin: 30px 0 20px;
}

.chemistry-form .chemistry-buttonset-1 [class*="chemistry-button-"].chemistry-alignleft
{
	float: left;
}

.chemistry-form .chemistry-buttonset-1 [class*="chemistry-button-"].chemistry-alignright
{
	float: right;
}

.chemistry-form [class="chemistry-button-"]
{
	margin: 0;
	padding: 0 14px 0 14px;
	display: block;
	line-height: 33px;
	outline: none;
	font-size: 11pt;
	text-decoration: none;
	text-align: left;
	position: relative;
	overflow: hidden;
	display: inline-block;
	cursor: pointer;
	position: relative;
}

.chemistry-form [class="chemistry-button-"]:hover, .chemistry-button-1:focus
{;
}

.chemistry-form [class="chemistry-button-"]:active
{;
}

.chemistry-form [class*="chemistry-button-"][class*="chemistry-icon-"]
{
	padding-left: 40px !important;
}

.chemistry-form .chemistry-icon-save
{
	background: url(../images/save-16px.png) 10px 50% no-repeat;
}

.chemistry-form .chemistry-icon-reset
{
	background: url(../images/reset-16px.png) 10px 50% no-repeat;
}

.chemistry-form.chemistry-single-field
{
	position: relative;
}

.chemistry-form.chemistry-single-field input
{
	margin-top: 2px;
}

.chemistry-form.chemistry-single-field .chemistry-button-1
{
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
}

a[href="#comment-preview"]
{
	float: left;
	line-height: 32px;
}

.chemistry-form input,
.chemistry-form textarea
{
	-webkit-transition-property: color, background-color;
	-moz-transition-property: color, background-color;
	-o-transition-property: color, background-color;
	-ms-transition-property: color, background-color;
	transition-property: color, background-color;
	-webkit-transition-duration: .2s;
	-moz-transition-duration: .2s;
	-o-transition-duration: .2s;
	-ms-transition-duration: .2s;
	transition-duration: .2s;
	-webkit-transition-timing-function: ease;
	-moz-transition-timing-function: ease;
	-o-transition-timing-function: ease;
	-ms-transition-timing-function: ease;
	transition-timing-function: ease;
}

.chemistry-form input,
.chemistry-form select,
.chemistry-form textarea
{
	border-bottom: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
	border-top: 1px solid #c1c1c1;
	border-left: 1px solid #c1c1c1;
	background: #f9f9f9;
	color: #464646;
}

.chemistry-form input:hover,
.chemistry-form input:focus,
.chemistry-form select:hover,
.chemistry-form select:focus,
.chemistry-form textarea:hover,
.chemistry-form textarea:focus
{
	color: #000000;
	background-color: #ffffff;
}

.chemistry-form label
{
	color: #464646;
}

.chemistry-form label.chemistry-label-alt-2
{
	background: #f9f9f9;
	border-top: 1px solid #c1c1c1;
	border-bottom: 1px solid #c1c1c1;
}

.chemistry-form small
{
	color: #464646;
}

.chemistry-form abbr
{
	color: #1b97dc;
}

.chemistry-form .chemistry-icon-save
{
	background: url(../images/save-16px.png) 10px 50% no-repeat;
}

.chemistry-form .chemistry-icon-reset
{
	background: url(../images/reset-16px.png) 10px 50% no-repeat;
}

ul.chemistry-custom-bullet
{
	list-style: none !important;
	margin-left: 0 !important;
}

ul.chemistry-custom-bullet li
{
	list-style: none !important;
	margin-left: 0 !important;
	padding-left: 26px !important;
	background-position: 0 4px;
	background-repeat: no-repeat;
}

ul.chemistry-inline-bullets li
{
	display: inline-block;
	margin-right: 25px;
}

ul.chemistry-check-1 li,
span.chemistry-check-1
{
	background-image: url(../images/check-16px-1.png);
}

ul.chemistry-check-2 li,
span.chemistry-check-2
{
	background-image: url(../images/check-16px-2.png);
}

span.chemistry-check-3,
ul.chemistry-check-3 li
{
	background-image: url(../images/check-16px-3.png);
}

ul.chemistry-error-1 li,
span.chemistry-error-1
{
	background-image: url(../images/error-16px-1.png);
}

ul.chemistry-error-2 li,
span.chemistry-error-2 li
{
	background-image: url(../images/error-16px-2.png);
}

ul.chemistry-error-3 li,
span.chemistry-error-3
{
	background-image: url(../images/error-16px-3.png);
}

ul.chemistry-warning-1 li,
span.chemistry-warning-1
{
	background-image: url(../images/warning-16px-1.png);
}

ul.chemistry-warning-2 li,
span.chemistry-warning-2
{
	background-image: url(../images/warning-16px-2.png);
}

ul.chemistry-warning-3 li,
span.chemistry-warning-3
{
	background-image: url(../images/warning-16px-3.png);
}

ul.chemistry-arrow-1 li,
span.chemistry-arrow-1
{
	background-image: url(../images/left-arrow-16px-2.png);
}

ul.chemistry-arrow-2 li,
span.chemistry-arrow-2
{
	background-image: url(../images/left-arrow-16px-1.png);
}

ul.chemistry-arrow-3 li,
span.chemistry-arrow-3
{
	background-image: url(../images/left-arrow-16px-3.png);
}

.chemistry-media-wrap
{
	position: relative;
	overflow: hidden;
	width: 100%;
	max-width: 100%;
}

.chemistry-media-wrap > *
{
	width: 100%;
}

.chemistry-msg
{
	padding: 5px 25px 5px 56px;
	min-height: 3em;
	position: relative;
}

.chemistry-msg:after
{
	display: block;
	visibility: hidden;
	content: ".";
	height: 0;
	line-height: 0;
	font-size: 0;
	clear: both;
}

.chemistry-msg .chemistry-msg-icon
{
	float: left;
	width: 32px;
	height: 32px;
	float: left;
	margin: 5px 10px 0 -44px;
}

.chemistry-msg p
{
	margin: 10px 0;
}

.chemistry-msg
{
	border: 1px solid #ebebeb;
	border-bottom-color: #c1c1c1;
	border-right-color: #c1c1c1;
}

.chemistry-msg.chemistry-msg-info
{
	background-color: #ddebeb;
	color: #4e7078;
}

.chemistry-msg.chemistry-msg-warning
{
	background-color: #f6e5c5;
	color: #936042;
}

.chemistry-msg.chemistry-msg-error
{
	background-color: #f6cdcd;
	color: #9c4242;
}

.chemistry-msg.chemistry-msg-download
{
	background-color: #c2ebab;
	color: #3c6336;
}

.chemistry-msg.chemistry-msg-important-1
{
	background-color: msg_important_1_bg_color]];
	color: #000000;
}

.chemistry-msg.chemistry-msg-important-2
{
	background-color: #000000;
	color: #f6f6f6;
}

.chemistry-msg.chemistry-msg-info .chemistry-msg-icon
{
	background: url(../images/info-32px.png) 0 0 no-repeat;
}

.chemistry-msg.chemistry-msg-warning .chemistry-msg-icon
{
	background: url(../images/warning-32px.png) 0 0 no-repeat;
}

.chemistry-msg.chemistry-msg-error .chemistry-msg-icon
{
	background: url(../images/error-32px.png) 0 0 no-repeat;
}

.chemistry-msg.chemistry-msg-download .chemistry-msg-icon
{
	background: url(../images/download-32px.png) 0 0 no-repeat;
}

.chemistry-msg.chemistry-msg-important-1 .chemistry-msg-icon
{
	background: url(../images/important-32px.png) 0 0 no-repeat;
}

.chemistry-msg.chemistry-msg-important-2 .chemistry-msg-icon
{
	background: url(../images/important-32px.png) 0 0 no-repeat;
}



.chemistry-gallery
{
	clear: both;
	position: relative;
}

.chemistry-gallery:after
{
	display: block;
	visibility: hidden;
	content: ".";
	height: 0;
	line-height: 0;
	font-size: 0;
	clear: both;
}

.chemistry-gallery .chemistry-cols.chemistry-spacing-1
{
	margin-top: -15px;
	margin-bottom: -15px;
}

.chemistry-gallery-item
{
	margin: 0px !important;
	padding: 0px;
	list-style: none;
	position: relative;
	vertical-align: top;
	max-height: 100%;
	overflow: hidden;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
}

.chemistry-gallery-item > div > iframe
{
	width: 100%;
	height: 100%;
	display: block;
	border: none;
}

.chemistry-gallery-item + p
{
	display: none;
}



[class*="chemistry-media-"]:not(.chemistry-potion)
{
	display: block;
	overflow: hidden;
	max-height: 100%;
	position: relative;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-khtml-box-sizing: border-box;
	box-sizing: border-box;
}

.chemistry-media-helper
{
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	z-index: 9 !important;
}

.chemistry-grid-height-200 [class*="chemistry-media-"],
.chemistry-grid-height-200[class*="chemistry-media-"]
{
	height: 200px;
}

.chemistry-grid-height-300 [class*="chemistry-media-"],
.chemistry-grid-height-300[class*="chemistry-media-"]
{
	height: 300px;
}

.chemistry-grid-height-400 [class*="chemistry-media-"],
.chemistry-grid-height-400[class*="chemistry-media-"]
{
	height: 400px;
}

.chemistry-grid-height-auto [class*="chemistry-media-"],
.chemistry-grid-height-auto [class*="chemistry-media-"]
{
	height: auto;
	position: relative;
	overflow: hidden;
}

.chemistry-grid-height-auto [class*="chemistry-media-video"]
{
	height: 0;
	padding-bottom: 56.25%;
}

.chemistry-grid-height-auto [class*="chemistry-media-"] > iframe
{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.chemistry-image-mode-fit .chemistry-media-img > img
{
	display: block;
	max-width: 100% !important;
	max-height: 100%;
	margin: 0 auto;
}

.chemistry-image-mode-stretch-x .chemistry-media-img > img
{
	display: block;
	width: 100% !important;
	margin: 0 auto;
	max-width: none !important;
}

.chemistry-image-mode-stretch-y .chemistry-media-img > img
{
	display: block;
	height: 100%;
	margin: 0 auto;
	width: auto !important;
	max-width: none !important;
}

.chemistry-frame-style-1 [class*="chemistry-media-"]
{
	border: 1px solid #ebebeb;
	border-bottom-color: #c1c1c1;
	border-right-color: #c1c1c1;
}

.chemistry-frame-style-2 [class*="chemistry-media-"]
{
	border: 1px solid #ebebeb;
	border-bottom-color: #c1c1c1;
	border-right-color: #c1c1c1;
}

.chemistry-frame-style-1 .chemistry-media-helper
{;
}

.chemistry-frame-style-2 .chemistry-media-helper
{
	border: 5px solid #ffffff;
}

.chemistry-button
{
	display: block;
	outline: none;
	text-decoration: none;
	text-align: center;
	position: relative;
	overflow: hidden;
	display: inline-block;
	font-weight: bold;
	top: 0px;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webki-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid  #c1c1c1;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #f9f9f9;
}

.chemistry-button:hover, .chemistry-button:focus
{
	text-decoration: none;
	cursor: pointer;
	top: -1px;
}

.chemistry-button:active
{
	top: 0px;
}

.chemistry-button-small
{
	padding: 0 1em 0 1em;
	line-height: 1.6em;
	font-weight: normal;
}

.chemistry-button-medium
{
	padding: 0 1em 0 1em;
	line-height: 2.2em;
}

.chemistry-button-big
{
	padding: 0 1em 0 1em;
	line-height: 2.4em;
	font-size: 1.6em;
}

.chemistry-button
{
	color: #000000;
	border: 1px solid  #ebebeb;
	border-bottom-color: #c1c1c1;
	border-right-color: #c1c1c1;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	background-color: #f9f9f9;
}

.chemistry-aligncenter
{
	margin-left: auto;
	margin-right: auto;
	display: block;
	float: none;
	margin-top: 20px;
	margin-bottom: 20px;
}

.chemistry-alignleft
{
	float: left;
	margin-right: 30px !important;
	margin-left: 0 !important;
	margin-top: 0px;
}

.chemistry-alignright
{
	float: right;
	margin-left: 30px !important;
	margin-right: 0 !important;
	margin-top: 0px;
}

.chemistry-text-alignleft
{
	text-align: left;
}

.chemistry-text-alignright
{
	text-align: right;
}

.chemistry-text-aligncenter
{
	text-align: center;
}

@media screen and (max-width: 580px)
{
	.chemistry-alignright
	{
		margin-left: 0px;
	}

	.chemistry-alignleft
	{
		margin-right: 0px;
	}
}

.chemistry-slider-wrapper .nivoSlider
{
	margin-top: 30px !important;
	margin-bottom: 20px !important;
	width: 100% !important;
}

.chemistry-slider-wrapper .nivo-caption p
{
	padding: 15px !important;
}

.chemistry-slider-wrapper
{
	max-width: 100%;
}

.chemistry-slider-wrapper .nivoSlider
{
	margin-bottom: 60px !important;
}

.chemistry-potion.roundabout.roundabout-holder
{
	margin: 40px auto !important;
	overflow: visible !important;
}

.chemistry-twitter-feed
{
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
}

.chemistry-twitter-feed:after
{
	display: block;
	visibility: hidden;
	content: ".";
	height: 0;
	line-height: 0;
	font-size: 0;
	clear: both;
}

.chemistry-twitter-feed .chemistry-cols
{
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.chemistry-twitter-feed .chemistry-col
{
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}

.chemistry-twitter-feed-item
{
	padding: 10px 0 10px 24px;
}

.chemistry-twitter-feed span
{
	font-size: 1em;
}

.chemistry-twitter-feed-item
{
	background: url(../images/twitter-32px-l.png) 0 12px no-repeat;
}

.chemistry-twitter-feed span + a
{
	color: #464646;
}

.chemistry-twitter-feed span + a:hover,
.chemistry-twitter-feed span + a:focus
{;
}

.chemistry-twitter-feed span
{
	color: #464646;
}

.chemistry-google-map iframe
{
	display: block;
}

.chemistry-google-map
{
	border: 1px solid  #c1c1c1;
}

.chemistry-services
{
	margin: 20px 0 20px;
	position: relative;
}

.chemistry-services .chemistry-services-item:after
{
	display: block;
	visibility: hidden;
	content: ".";
	height: 0;
	line-height: 0;
	font-size: 0;
	clear: both;
}

.chemistry-services .chemistry-title
{
	margin: 0px 0 0px;
	padding: 10px 0 0;
	font-size: 1em;
	font-weight: bold;
	clear: none !important;
}

.chemistry-services .chemistry-title + img
{
	margin-top: 5px !important;
}

.chemistry-services img
{
	border: none !important;
}

.chemistry-services-item .chemistry-title > a
{
	position: relative;
}

.chemistry-services p
{
	margin: 10px 0;
	padding: 0;
	min-height: 1em !important;
}

.chemistry-services-item > .chemistry-content
{;
}

.chemistry-services img
{
	max-width: 100%;
}

.chemistry-services[class*="chemistry-icon-"] img
{
	width: 50px;
	height: 50px;
}

.chemistry-services.chemistry-image-left img
{
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
}

.chemistry-services.chemistry-image-right
{
	text-align: right;
}

.chemistry-services.chemistry-image-right img
{
	float: right;
	margin-left: 15px;
	margin-bottom: 10px;
}

.chemistry-services.chemistry-image-center
{
	text-align: center;
}

.chemistry-services.chemistry-image-center img
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
}

.chemistry-services-item.chemistry-image-only img
{
	display: block;
	margin: 0 auto;
}

.chemistry-services.chemistry-icon-left .chemistry-services-item
{
	padding-left: 65px;
}

.chemistry-services.chemistry-icon-left img
{
	float: left;
	margin: 0 0px 0 -65px;
}

.chemistry-services.chemistry-icon-right .chemistry-services-item
{
	padding-right: 65px;
	text-align: right;
}

.chemistry-services.chemistry-icon-right img
{
	float: right;
	margin: 0 -65px 0 0px;
}

.chemistry-services.chemistry-icon-center
{
	text-align: center;
}

.chemistry-services.chemistry-icon-center img
{
	display: block;
	margin: 0 auto;
}

.chemistry-services-2 .chemistry-services-item
{
	padding: 10px;
}

.chemistry-services-2.chemistry-icon-left .chemistry-services-item
{
	padding-left: 75px;
}

.chemistry-services-2.chemistry-icon-right .chemistry-services-item
{
	padding-right: 75px;
}

@media screen and (max-width: 580px)
{
 

	.chemistry-alignright
	{
		margin-left: 0px;
	}

	.chemistry-alignleft
	{
		margin-right: 0px;
	}

	.chemistry-services.chemistry-icon-right img,
	.chemistry-services.chemistry-icon-left img,
	.chemistry-services.chemistry-image-right img,
	.chemistry-services.chemistry-image-left img
	{
		float: none;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.chemistry-services.chemistry-icon-left .chemistry-services-item
	{
		padding-left: 0px;
	}

	.chemistry-services.chemistry-icon-right .chemistry-services-item
	{
		padding-right: 0px;
		text-align: left;
	}

	.chemistry-services-item
	{
		text-align: center !important;
	}
}

.chemistry-services-2 .chemistry-services-item
{
	border: 1px solid #ebebeb;
	border-bottom-color: #c1c1c1;
	border-right-color: #c1c1c1;
	background: #f9f9f9;
	border-radius: 2px;
}

.chemistry-quotes
{
	position: relative;
	margin: 20px 0;
}

.chemistry-quotes-item
{
	position: relative;
	margin: 0px 0 0px;
	padding: 0px 0 0;
}

.chemistry-quotes-item:after
{
	height: 24px;
	width: 24px;
	margin: 0 0 0 -10px;
	padding: 0;
	content: " \201D ";
	font-size: 2em;
	line-height: 34px;
	font-weight: bold;
	font-family: 'Droid Sans', Arial, sans-serif;
	text-align: center;
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	position: absolute;
	top: -12px;
	left: 50%;
	z-index: 12;
}

.chemistry-quotes blockquote
{
	margin: 0 30px;
	padding: 0;
	border: none !important;
	background: none !important;
}

.chemistry-quotes blockquote:after
{
	display: block;
	visibility: hidden;
	content: ".";
	height: 0;
	line-height: 0;
	font-size: 0;
	clear: both;
}

.chemistry-quotes blockquote p
{
	text-align: center;
	margin: 20px 0 15px;
	font-size: 1.1em;
	font-style: italic;
}

.chemistry-quotes .chemistry-meta
{
	padding: 0 10px 10px;
	text-align: center;
	margin: 0 0 5px;
	font-size: .9em;
}

.chemistry-quotes .chemistry-meta a
{
	text-decoration: none;
}

.chemistry-quotes .chemistry-meta a:hover,
.chemistry-quotes .chemistry-meta a:focus
{;
}

.chemistry-quotes-1 .chemistry-quotes-item:after
{
	color: #000000;
	background-color: #ffffff;
	background-image: none;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: auto;
	background-position: 0 0;
	border-left: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}

.chemistry-quotes-1 .chemistry-quotes-item
{
	border: 1px solid #ebebeb;
	color: #464646;
	background-color: #f9f9f9;
	border: 1px solid #ebebeb;
	border-bottom-color: #c1c1c1;
	border-right-color: #c1c1c1;
	background: #f9f9f9;
	border-radius: 2px;
}

.chemistry-quotes .chemistry-meta
{
	color: #464646;
}

.chemistry-quotes-2 .chemistry-quotes-item:after
{
	display: none;
}

.chemistry-quotes-2 .chemistry-quotes-item blockquote p
{
	font-size: 13pt;
	line-height: 1.5em;
	font-style: italic;
}

.chemistry-quotes-2  .chemistry-quotes-item
{
	border: none;
	color: #464646;
	background-color: transparent;
}

.chemistry-quotes-2 .chemistry-quotes .chemistry-meta
{
	color: #464646;
}

.chemistry-blockquote
{
	font-style: italic;
}

.chemistry-blockquote .chemistry-meta
{
	padding: 0 10px 10px;
	text-align: center;
	margin: 0 0 5px;
	font-size: .9em;
}

.chemistry-blockquote .chemistry-meta a
{
	text-decoration: none;
}

.chemistry-blockquote-1
{
	position: relative;
	padding: 0 15px;
}

.chemistry-blockquote-1
{
	margin: 0 30px;
}

.chemistry-blockquote-1 p
{
	text-align: center;
	margin: 20px 0 15px;
	font-size: 1.1em;
}

.chemistry-blockquote-2
{
	text-align: center;
}

.chemistry-blockquote-2 p
{
	font-size: 13pt;
	line-height: 1.5em;
	font-style: italic;
}

.chemistry-blockquote-3:after
{
	height: 24px;
	width: 24px;
	margin: 0 0 0 -10px;
	padding: 0;
	content: " \201D ";
	font-size: 2em;
	line-height: 34px;
	font-weight: bold;
	font-family: 'Droid Sans', Arial, sans-serif;
	text-align: center;
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	position: absolute;
	top: -12px;
	left: 50%;
	z-index: 12;
}

.chemistry-blockquote-3
{
	margin: 0 30px;
	position: relative;
}

.chemistry-blockquote-3 p
{
	text-align: center;
	margin: 20px 20px 20px;
	font-size: 1.1em;
}

.chemistry-blockquote-1
{
	color: #464646;
	border: 1px solid #ebebeb;
	border-bottom-color: #c1c1c1;
	border-right-color: #c1c1c1;
	border-radius: 2px;
}

.chemistry-blockquote-2
{
	border: none;
	color: #464646;
	background-color: transparent;
}

.chemistry-blockquote-2 .chemistry-meta
{
	color: #464646;
}

.chemistry-blockquote-3:after
{
	color: #000000;
	background-color: #ffffff;
	background-image: none;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: auto;
	background-position: 0 0;
	border-left: 1px solid #ebebeb;
	border-bottom: 1px solid #ebebeb;
}

.chemistry-blockquote-3
{
	border: 1px solid #ebebeb;
	color: #464646;
	background-color: #f9f9f9;
	border: 1px solid #ebebeb;
	border-bottom-color: #c1c1c1;
	border-right-color: #c1c1c1;
	background: #f9f9f9;
	border-radius: 2px;
}





[class*="chemistry-style"]
{
	border-collapse: collapse;
	margin: 20px 0 20px;
	width: 100%;
	font-size: 1em;
}
[class*="chemistry-style"] td, 
[class*="chemistry-style"] th
{
	margin: 0;
	text-align: center;
	padding: 8px 10px;
	vertical-align: top;
}
[class*="chemistry-style"] th
{
	text-align: left;
	font-weight: normal;
	text-align: center;
}

table.chemistry-style-1
{
	border: 1px solid #ebebeb !important;
	border-right-color: #c1c1c1 !important;
	border-bottom-color: #c1c1c1 !important;
	background-color: #ffffff;
}

table.chemistry-style-1 td, 
table.chemistry-style-1 th
{
	color: #000000;
	border: none;
	border-left: 1px solid #ebebeb;
	border-top: 1px solid #ebebeb;
}

table.chemistry-style-1 th
{
	background-color: #f9f9f9 !important;
	color: #000000;
	font-weight: bold;
	border-bottom: 1px solid #c1c1c1;
}

table.chemistry-style-1 td
{
	color: #464646;
}

table.chemistry-style-1 tr:nth-child(2n) > *
{
	background-color: #f9f9f9;
}

table.chemistry-style-1 tr:hover > *
{
	background-color: #f9f9f9;
}

table.chemistry-style-2
{
	border: 1px solid #ebebeb !important;
	border-right-color: #c1c1c1 !important;
	border-bottom-color: #c1c1c1 !important;
	background-color: #ffffff;
}

table.chemistry-style-2 td, 
table.chemistry-style-2 th
{
	color: #000000;
	border: none;
	border-left: 1px solid #ebebeb;
	border-top: 1px solid #ebebeb;
}

table.chemistry-style-2 th
{
	background-color: #000000 !important;
	color: #ffffff;
	border-left-color: rgba(255,255,255,.1);
	border-top-color: ;  font-weight: bold;
}

table.chemistry-style-2 td
{
	color: #464646;
}

table.chemistry-style-2 tr:nth-child(2n) > *
{
	background-color: #f9f9f9;
}

table.chemistry-style-2 tr:hover > *
{
	background-color: #f9f9f9;
}

a.chemistry-frame,
span.chemistry-frame
{
	display: inline-block;
}

a.chemistry-frame.chemistry-aligncenter,
span.chemistry-frame.chemistry-aligncenter
{
	display: block;
}

a.chemistry-frame img,
span.chemistry-frame img,
a.chemistry-img img
{
	max-width: none;
	display: block;
	width: 100%;
}

.chemistry-frame-1
{
	padding: 5px;
}

.chemistry-frame-2
{
	padding: 0;
}

.chemistry-frame-reset
{
	padding: 0 !important;
}

.chemistry-frame-1
{
	background: #ffffff;
	border: 1px solid #ebebeb !important;
	border-bottom-color: #c1c1c1 !important;
	border-right-color: #c1c1c1 !important;
}

.chemistry-frame-2
{
	border: 1px solid #ebebeb !important;
	border-bottom-color: #c1c1c1 !important;
	border-right-color: #c1c1c1 !important;
}

.chemistry-frame-reset
{
	border: none !important;
	background: none !important;
	outline: none !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.chemistry-prc
{
	border-collapse: collapse;
	border-spacing: 0px;
	width: 100%;
}

.chemistry-prc td,
.chemistry-prc th
{
	vertical-align: top;
	margin: 0px;
	padding: 10px;
}

.chemistry-prc .chemistry-prc-icon
{
	width: 26px;
	line-height: 1em;
	height: 1.2em;
	display: inline-block;
}

.chemistry-prc .chemistry-prc-title
{
	font-size: 1em;
	text-align: center;
	padding: 0px 0px 0px;
}

.chemistry-prc .chemistry-prc-title span
{
	display: block;
	margin: 0px 1px -1px;
	padding: 15px;
}

.chemistry-prc .chemistry-prc-price
{
	text-align: center;
	padding: 20px 0px 15px;
	font-weight: bold;
}

.chemistry-prc .chemistry-prc-val-main
{
	font-size: 2em;
	vertical-align: middle;
}

.chemistry-prc .chemistry-prc-currency
{
	font-size: 1em;
	padding: 0 3px;
	vertical-align: middle;
}

.chemistry-prc .chemistry-prc-val-tail
{
	font-size: 1em;
	padding: 0 3px;
	vertical-align: middle;
}

.chemistry-prc .chemistry-prc-price.chemistry-prc-aside
{
	line-height: 3.5em;
}

.chemistry-prc .chemistry-prc-field
{
	text-align: center;
}

.chemistry-prc .chemistry-prc-button
{
	text-align: center;
	border-bottom: 1px solid  #c1c1c1;
	padding: 0 !important;
	border-bottom: none;
	border-left: none;
	border-right: none;
	background: transparent !important;
	height: 3em;
	height: 0;
}

.chemistry-prc .chemistry-prc-button a
{
	display: block;
	padding: 0 0;
	line-height: 3em;
	text-align: center;
	margin: 0 1px;
	text-decoration: none;
	font-size: 1em;
	overflow: hidden;
}

.chemistry-prc .chemistry-prc-aside
{
	text-align: center;
	padding: 10px 5px;
	width: 150px;
}

.chemistry-prc-1 .chemistry-prc-title span
{
	margin: 0 0 -1px 0px;
}

.chemistry-prc-1 .chemistry-prc-button a
{
	margin: 15px auto;
	width: 100px;
	padding: 10px;
	line-height: 1em;
}

.chemistry-prc-2 .chemistry-prc-title span
{
	padding: 10px;
}

.chemistry-prc-2 .chemistry-prc-button a
{
	font-weight: bold;
	padding: 0px 0;
	line-height: 3em;
}

.chemistry-prc-title span,
.chemistry-prc-button a,
.chemistry-prc tr > *
{
	-webkit-transition-property: color, background-color;
	-moz-transition-property: color, background-color;
	-o-transition-property: color, background-color;
	-ms-transition-property: color, background-color;
	transition-property: color, background-color;
	-webkit-transition-duration: .2s;
	-moz-transition-duration: .2s;
	-o-transition-duration: .2s;
	-ms-transition-duration: .2s;
	transition-duration: .2s;
	-webkit-transition-timing-function: ease;
	-moz-transition-timing-function: ease;
	-o-transition-timing-function: ease;
	-ms-transition-timing-function: ease;
	transition-timing-function: ease;
}

.chemistry-prc
{
	border: none;
}

.chemistry-prc .chemistry-prc-icon
{
	background-position: 0 0px;
	background-repeat: no-repeat;
}

.chemistry-prc td
{
	border-top: 1px solid  #c1c1c1;
}

.chemistry-prc .chemistry-prc-even > *
{
	background-color: #f9f9f9;
	color: #464646;
}

.chemistry-prc .chemistry-prc-odd > *
{
	background-color: #f9f9f9;
	color: #464646;
}

.chemistry-prc .chemistry-prc-dummy
{
	background-color: transparent !important;
	border: none !important;
}

.chemistry-prc .chemistry-prc-title-row .chemistry-prc-dummy
{
	background-color: transparent !important;
	border: none !important;
}

.chemistry-prc .chemistry-prc-button-row .chemistry-prc-dummy
{
	border-top: 1px solid #c1c1c1 !important;
}

.chemistry-prc .chemistry-prc-col-hover
{
	color: #000000;
}

.chemistry-prc .chemistry-prc-title
{
	border-top: none;
}

.chemistry-prc .chemistry-prc-title span
{
	border-radius: 2px 2px 0 0;
	border: none;
}

.chemistry-prc .chemistry-prc-price
{
	font-weight: bold;
}

.chemistry-prc .chemistry-prc-button
{
	text-align: center;
	border-bottom: 1px solid  #c1c1c1;
	border-bottom: none;
	border-left: none;
	border-right: none;
	background: transparent !important;
}

.chemistry-prc .chemistry-prc-button a
{
	border-radius: 0 0 4px 4px;
	text-align: center;
	text-decoration: none;
}

.chemistry-prc .chemistry-prc-aside
{
	text-align: center;
}

.chemistry-prc-1
{
	border: none !important;
}

.chemistry-prc-1 .chemistry-prc-price
{
	color: #000000;
}

.chemistry-prc-1 .chemistry-prc-title span
{
	color: #000000;
	font-weight: bold;
	border-radius: 0;
}

.chemistry-prc-1 .chemistry-prc-button a
{
	font-weight: bold;
	color: #000000;
	border-radius: 4px;
	border: 1px solid  #c1c1c1;
	border-bottom-color: #c1c1c1;
	border-right-color: #c1c1c1;
	background: #f9f9f9;
}

.chemistry-prc-1 .chemistry-prc-col-hover.chemistry-prc-button a
{
	background-color: #1b97dc;
	color: #ffffff;
}

.chemistry-prc-1 .chemistry-prc-even > .chemistry-prc-col-hover
{
	background-color: #ffffff;
}

.chemistry-prc-1 .chemistry-prc-odd > .chemistry-prc-col-hover
{
	background-color: #ffffff;
}

.chemistry-prc-2 .chemistry-prc-price
{
	color: #000000;
}

.chemistry-prc-2 .chemistry-prc-title span
{
	background-color: #f9f9f9;
	color: #000000;
	font-weight: bold;
	border: 1px solid  #c1c1c1;
}

.chemistry-prc-2 .chemistry-prc-button a
{
	background: #f9f9f9;
	font-weight: bold;
	border: none;
	color: #000000;
}

.chemistry-prc-2 .chemistry-prc-col-hover.chemistry-prc-button a
{
	border: 1px solid  #c1c1c1;
	border-top: none;
}

.chemistry-prc-2 .chemistry-prc-even > .chemistry-prc-col-hover
{
	background-color: #f9f9f9;
}

.chemistry-prc-2 .chemistry-prc-odd > .chemistry-prc-col-hover
{
	background-color: #f9f9f9;
}

.chemistry-prcbox .chemistry-prcbox-item
{
	padding: 0px 20px 20px;
}

.chemistry-prcbox .chemistry-prcbox-title
{
	font-size: 1.6em;
	font-weight: normal;
	text-align: center;
	margin: 0 -20px;
	padding: 20px 0;
}

.chemistry-prcbox .chemistry-prcbox-desc
{
	padding: 0px 10px 20px;
	line-height: 1.6em;
}

.chemistry-prcbox .chemistry-prcbox-desc p
{
	padding: 15px 0;
	margin: 0;
}

.chemistry-prcbox .chemistry-prcbox-price
{
	text-align: center;
	padding: 15px 0 15px;
	font-weight: bold;
	margin: 0;
}

.chemistry-prcbox .chemistry-prcbox-val-main
{
	font-size: 3em;
	vertical-align: middle;
}

.chemistry-prcbox .chemistry-prcbox-currency
{
	font-size: 2em;
	vertical-align: middle;
	padding: 0 3px;
	font-weight: normal;
}

.chemistry-prcbox .chemistry-prcbox-val-tail
{
	font-size: 2em;
	vertical-align: middle;
	padding: 0 3px;
	font-weight: normal;
}

.chemistry-prcbox .chemistry-prcbox-button
{
	display: block;
	padding: 10px 15px;
	text-align: center;
	width: 100px;
	margin: 5px auto;
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
}

.chemistry-prcbox .chemistry-prcbox-title
{
	font-size: 1.6em;
	font-weight: normal;
	text-align: center;
	background-color: rgba(0,0,0,.03);
}

.chemistry-prcbox .chemistry-prcbox-desc
{
	border-top: 1px solid  #c1c1c1;
}

.chemistry-prcbox .chemistry-prcbox-desc p
{
	border-bottom: 1px solid  #c1c1c1;
}

.chemistry-prcbox .chemistry-prcbox-price
{
	text-align: center;
	font-weight: bold;
}

.chemistry-prcbox .chemistry-prcbox-val-main
{
	font-size: 3em;
}

.chemistry-prcbox .chemistry-prcbox-currency
{
	font-size: 2em;
}

.chemistry-prcbox .chemistry-prcbox-val-tail
{
	font-size: 2em;
	font-weight: normal;
}

.chemistry-prcbox .chemistry-prcbox-button
{
	border-radius: 4px;
	background: #f9f9f9;
	text-align: center;
	color: #000000;
	text-decoration: none;
	font-size: 1em;
	border: 1px solid  #c1c1c1;
	border-right-color: #c1c1c1;
	border-bottom-color: #c1c1c1;
	font-weight: bold;
}

.chemistry-prcbox .chemistry-prcbox-button:hover
{
	background-color: ;
}

.chemistry-prcbox-1 .chemistry-prcbox-button
{
	color: #000000;
}

.chemistry-prcbox-1 .chemistry-prcbox-item
{
	background-color: #ffffff;
	border: 1px solid  #c1c1c1;
	border-bottom-color: #c1c1c1;
	border-right-color: #c1c1c1;
}

.chemistry-prcbox-1 .chemistry-prcbox-title
{
	border-bottom: 1px solid  #c1c1c1;
}

.chemistry-prcbox-1 .chemistry-prcbox-price
{;
}

.chemistry-prcbox-1 .chemistry-prcbox-button:hover
{
	background-color: #000000 !important;
	color: #ffffff;
}

a.chemistry-divider
{
	position: relative;
	display: block;
	margin: 25px 0;
	height: 1px;
}

a.chemistry-divider hr
{
	margin: 0;
}

a.chemistry-divider .chemistry-back-to-top
{
	position: absolute;
	top: -.5em;
	background-color: #ffffff;
	font-size: .8em;
	line-height: 1em;
	padding: 0 5px;
	margin-bottom: -.5em;
	display: inline-block;
}

a.chemistry-divider.chemistry-title-alignright .chemistry-back-to-top
{
	right: 0;
	padding-right: 0;
}

a.chemistry-divider.chemistry-title-alignleft .chemistry-back-to-top
{
	left: 0;
	padding-left: 0;
}

a.chemistry-divider.chemistry-title-aligncenter
{
	text-align: center;
}

a.chemistry-divider.chemistry-title-aligncenter .chemistry-back-to-top
{
	position: relative;
	top: -14px;
	margin-bottom: -1em;
}

hr.chemistry-divider.chemistry-style-1
{
	background: none;
	border: none;
	border-top: 1px solid  #c1c1c1;
}

hr.chemistry-divider.chemistry-style-2
{
	background: none;
	border: none;
	border-top: 1px dotted #c1c1c1;
}

.chemistry-clear
{
	clear: both;
}

.chemistry-show-img-title
{
	position: relative;
	overflow: hidden;
}

.chemistry-img
{
	max-width: 100%;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.chemistry-heading-menu.chemistry-style-1
{
	background-color: #ffffff;
	border-right: 1px solid #ebebeb;
	border-left: 1px solid #ebebeb;
	border: 1px solid #ebebeb;
	margin-bottom: -1px;
	padding: 20px 5px;
}

.chemistry-heading-menu.chemistry-style-1 li
{
	margin-left: 30px;
}

.chemistry-heading-menu.chemistry-style-1 .chemistry-current a
{
	font-weight: bold;
}

.chemistry-heading-menu.chemistry-style-2
{
	background-color: #ffffff;
	border-right: 1px solid #ebebeb;
	border-left: 1px solid #ebebeb;
	border: 1px solid #ebebeb;
	margin-bottom: -1px;
	padding: 0px 0px;
	list-style: none;
}

.chemistry-heading-menu.chemistry-style-2 li
{
	margin-left: 30px;
	list-style: none;
	display: inline-block;
	margin: 10px 5px;
}

.chemistry-heading-menu.chemistry-style-2 .chemistry-current
{;
}

.chemistry-heading-menu.chemistry-style-2 .chemistry-current a
{
	font-weight: bold;
}